<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Biblio | Livros</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/vendors/datatables/css/datatables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/vendors/datatables/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}">
	</head>
	<body class="hold-transition layout-top-nav layout-navbar-fixed layout-footer-fixed">
		PÁGINA DE TESTE DE ROTA
		<script th:src="@{/vendors/jquery/js/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/datatables/js/jquery.datatables.min.js}"></script>
        <script th:src="@{/vendors/datatables/js/datatables.bootstrap.min.js}"></script>
        <script th:src="@{/vendors/datatables/js/datatables.responsive.min.js}"></script>
        <script th:src="@{/vendors/datatables/js/responsive.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/js/general/grid.js}"></script>
	</body>
</html>
